@{
    ViewBag.Title = "Acerca de::";

}
<h2>@ViewBag.Title.</h2>

<H1>CONTACTO </H1>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <DIV>
        <a href="https://github.com/ganamaa/Aquisoft" target="_blank"><i class="fab fa-github" id="contacto"></i></a> <t>
        <a href="mailto:aquisoft@gmail.com" target="_blank"><i class="far fa-envelope" id="contacto"></i></a> <t>
    </DIV>

</body>



