@{
    ViewBag.Title = "Home Page";
}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->

<div class="jumbotron">
    <h1>Un Lugar</h1>
    <p>Un Lugar es la aplicacion web que te permite encontrar y compartir eventos de interes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>¿Aburrido!?¿Quieres asistir una fiesta y no sabes donde ir? </h3>
        <p>Con Un Lugar puedes encotrar el lugar ideal para tus eventos.Echale un ojito a los eventos.Esperemos que te gusten</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit" >@Html.ActionLink("lista de eventos", "Evento", "Evento")</button>
      
    </div>
    <div class="col-md-4">
        <h3>Mantente actualizado! </h3>
        <p>Mira los eventos con mas destacados, los mas influyentes, o de los que todos estan hablando.</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Top Eventos", "TopEventos", "Evento")</button>
    </div>
    <div class="col-md-4">
        <h3>¿Vas a asistrir a un concierto, pero no quieres ir solo?</h3>
        <p>enviale una invitacion a tus amigos o comparte lo en tus redes sociales.</p>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>