@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Un Lugar</h1>
    <p>Un Lugar es la aplicacion web que te permite encontrar el lugar perfercto para tus eventos, ya sean fiestas, lugares de estudio, cafeterias, etc. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>¿Quieres realizar una fiesta y no sabes donde ir? </h3>
        <p>con Un Lugar puedes encotrar el lugar ideal para realizar tus eventos.</p>
    </div>
    <div class="col-md-4">
        <h3>Mantente actualizado! </h3>
        <p>mira los eventos con mas destacados, los mas influyentes, o de los que todos estan hablando.</p>
    </div>
    <div class="col-md-4">
        <h3>¿Vas a asistrir a un concierto, pero no quieres ir solo?</h3>
        <p>enviale una invitacion a tus amigos o comparte lo en tus redes sociales.</p>
    </div>
</div>