@model IEnumerable<Login.Datos.Lugar>

@{
    ViewBag.Title = "Evento";
}

<h2>Evento</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>

    <td>
        @Html.ActionLink("Detalles", "DetallesEvento", new { id = item.ID }) |
        @{
            if (item.Nota != "NO PUEDE ASISTIR-CAPACIDAD MAXIMA ")
            {
                @Html.ActionLink("Asistir", "Asistir", new { id = item.ID }, new { @class = "eAsistir" })
            }
            else
            {
                <dialog>item.Nota</dialog>
            }
        }
    </td>
</tr>
 }

</table>

@section scripts{
    <script>
        $(".eAsistir").click(function (event) {
            if (!confirm('Estás seguro de que deasea asistir?')) {
                event.preventDefault();
            }
        });
    </script>
    }


